.activities-card-main {
  color: white;
  background: rgb(47,20,92);
  background: linear-gradient(300deg, #624c87, #32256e);
  padding: 2rem;
  min-width: 40vw;
  border-radius: 20px;
}

.activities-card-header {
  margin-bottom: 2rem;
}

.activities-card-activity {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.activities-card-activity-date {
  color: #9b9b9b;
}