.inr-balance-main {
  padding: 1.4rem 1rem;
  background: linear-gradient(to right, #32256E, #624C87);
  color: white;
  text-align: left;
  border-radius: 10px;
  flex-grow: 1;
}

.inr-balance-p {
  display: flex;
  justify-content: space-between;
}